/* =============================== */
/* Tipografía moderna desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* =============================== */
/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background: linear-gradient(135deg, #0b9fb3, #0bb397);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.branding {
    color: white;                /* color inicial */
    transition: color 15s linear;
}

.subtitle {
    font-size: 0.8rem;
    margin: 0rem 0 1.5rem 0;
    color: #e0f7f4; /* un tono más suave */
    font-weight: 400;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e7e404; /* color acento al pasar el mouse */
}

/* =============================== */
/* MAIN Y SECCIONES */
main {
    padding: 2rem;
    margin-top: -50px;
    background-color: #f4f4f4;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

section p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 10 auto;
}

.section-projects {
    margin-top: -350px;   /* reduce el espacio superior */
    padding-top: 0;     /* elimina padding innecesario */
}

.project1 img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.project1 a {
    display: inline-block;          /* que se comporte como botón */
    padding: 5px 5px;             /* espacio alrededor de la imagen */
    border-radius: 12px;            /* bordes redondeados */
    background-color: rgb(236,235,233); /* color de fondo suave */
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;          /* quita subrayado del enlace */
}

.project1 a img {
    width: 100px;   /* tamaño del logo */
    height: auto;
    display: block;
}

.project1 a:hover {
    transform: scale(1.05);         /* efecto hover: agranda */
    box-shadow: 0 4px 12px rgba(0,0,0,0.3); /* sombra */
}

.project1 p {
    max-width: 400px;   /* el párrafo no será más ancho de 500px */
    line-height: 1.5;   /* espacio entre líneas */
    margin-top: 10px;
}

.project2 img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.project2 a {
    display: inline-block;          /* que se comporte como botón */
    padding: 20px 5px;             /* espacio alrededor de la imagen */
    border-radius: 12px;            /* bordes redondeados */
    background-color: rgb(27, 27, 27); /* color de fondo suave */
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;          /* quita subrayado del enlace */
}

.project2 a img {
    width: 100px;   /* tamaño del logo */
    height: auto;
    display: block;
}

.project2 a:hover {
    transform: scale(1.05);         /* efecto hover: agranda */
    box-shadow: 0 4px 12px rgba(0,0,0,0.3); /* sombra */
}

.project2 p {
    max-width: 400px;   /* el párrafo no será más ancho de 500px */
    line-height: 1.5;   /* espacio entre líneas */
    margin-top: 10px;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.projects-container .project1 {
    margin-right: 0px;
}

.projects-container .project1 {
    margin-left: 0px;
 }

.about-text {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 340px;
    max-width: 620px; /* limita la línea a un ancho más cuadrado */
    line-height: 1.3; 
    top: 10px;
    margin-bottom: 20px; /* aumenta la separación entre párrafos */
    line-height: 1.6;    /* opcional: mejora la lectura */
}

.aboutme-text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    position: relative;
    left: 620px;
    max-width: 620px; /* limita la línea a un ancho más cuadrado */
    line-height: 1.3; 
    top: -20px;
    margin-bottom: 40px; /* aumenta la separación entre párrafos */
    line-height: 1.6;    /* opcional: mejora la lectura */
}


.about-text p:last-child {
    margin-bottom: 0; /* evita espacio extra al final */
}

.about-image-frame {
    position: relative;
    left: 980px;
    bottom: 600px;
    width: 350px;           /* tamaño del marco */
    height: 400px;          /* igual que el ancho para que sea un círculo */
    border-radius: 50%;     /* hace el marco redondo */
    overflow: hidden;       /* recorta la imagen que sobresalga */
    border: 4px solid #0b9fb3; /* borde amarillo opcional */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* asegura que la imagen cubra todo el marco sin deformarse */
}

.about-image {
    max-width: 400px;  /* ancho máximo */
    height: auto;      /* mantiene proporción */
    display: block;    /* opcional: evita espacios extra */
} 

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(135deg, #0bb397, #0b9fb3);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

footer p {
    position: relative;
    left: -25px;
}

/* ==========*
